<div class="container-fluid d-flex justify-content-center">
    <div class="">
        <form [formGroup]="updateContactForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="fName">First Name<span class="asterisk">*</span>:</label>
                        <input type="text" id="fName" formControlName="firstName" class="form-control" />
                        <div class="error-msg"
                            *ngIf="updateContactForm['controls'].firstName.invalid && (updateContactForm['controls'].firstName.dirty || updateContactForm['controls'].firstName.touched)">
                            <div class="errormsg" *ngIf="updateContactForm['controls'].firstName.errors.required">
                                <small>This Field Is Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="lName">Last Name<span class="asterisk">*</span>:</label>
                        <input type="text" id="lName" formControlName="lastName" class="form-control" />
                        <div class="error-msg"
                            *ngIf="updateContactForm['controls'].lastName.invalid && (updateContactForm['controls'].lastName.dirty || updateContactForm['controls'].lastName.touched)">
                            <div class="errormsg" *ngIf="updateContactForm['controls'].lastName.errors.required">
                                <small>This Field Is Required</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="contactNum">Contact Number<span class="asterisk">*</span>:</label>
                        <input type="text" id="contactNum" formControlName="contactNumber" class="form-control" />
                        <div class="error-msg"
                            *ngIf="updateContactForm['controls'].contactNumber.invalid && (updateContactForm['controls'].contactNumber.dirty || updateContactForm['controls'].contactNumber.touched)">
                            <div class="errormsg" *ngIf="updateContactForm['controls'].contactNumber.errors.required">
                                <small>This Field Is Required</small>
                            </div>
                            <div class="errormsg" *ngIf="updateContactForm['controls'].contactNumber.errors.pattern">
                                <small>Only numbers are allowed</small>
                            </div>
                            <div class="errormsg" *ngIf="updateContactForm['controls'].contactNumber.errors.maxlength">
                                <small>Maximum 10 numbers are allowed</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="username">Email ID<span class="asterisk">*</span>:</label>
                        <input type="text" formControlName="emailId" class="form-control" />
                        <div class="error-msg"
                            *ngIf="updateContactForm['controls'].emailId.invalid && (updateContactForm['controls'].emailId.dirty || updateContactForm['controls'].emailId.touched)">
                            <div class="errormsg" *ngIf="updateContactForm['controls'].emailId.errors.required">
                                <small>This Field Is Required</small>
                            </div>
                            <div class="errormsg" *ngIf="updateContactForm['controls'].emailId.errors.pattern">
                                <small>Please enter valid email id</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="address">Address<span class="asterisk">*</span>:</label>
                        <textarea id="" cols="3" rows="3" type="text" id="address" formControlName="address"
                            class="form-control"></textarea>
                        <div class="error-msg"
                            *ngIf="updateContactForm['controls'].address.invalid && (updateContactForm['controls'].address.dirty || updateContactForm['controls'].address.touched)">
                            <div class="errormsg" *ngIf="updateContactForm['controls'].address.errors.required">
                                <small>This Field Is Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="username">Status:</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-slide-toggle formControlName="status" [(ngModel)]="statusToggle">
                                    {{statusToggle ? 'Active' : 'Inactive'}}</mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row">
                    <button type="submit" class="btn btn-success" [disabled]="!updateContactForm.valid"
                        (click)="updateContactInfo(updateContactForm.value)">Update</button>
                    <button type="submit" class="btn btn-danger leftBuffer" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>