<div class="card mt-4">
    <h1 class="card-header">Add Contact Form</h1>
    <div class="card-body">
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="background-color: #F2F3F4; padding: 30px; border-radius: 10px;">
                <form [formGroup]="addContactForm" (ngSubmit)="addContactInfo()">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="fName">First Name <span class="asterisk">*</span>:</label>
                                <input type="text" id="fName" formControlName="firstName" class="form-control" />
                                <div class="error-msg"
                                    *ngIf="addContactForm['controls'].firstName.invalid && (addContactForm['controls'].firstName.dirty || addContactForm['controls'].firstName.touched)">
                                    <div class="errormsg" *ngIf="addContactForm['controls'].firstName.errors.required">
                                        <small>This Field Is Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lName">Last Name<span class="asterisk">*</span>:</label>
                                <input type="text" id="lName" formControlName="lastName" class="form-control" />
                                <div class="error-msg"
                                    *ngIf="addContactForm['controls'].lastName.invalid && (addContactForm['controls'].lastName.dirty || addContactForm['controls'].lastName.touched)">
                                    <div class="errormsg" *ngIf="addContactForm['controls'].lastName.errors.required">
                                        <small>This Field Is Required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="contactNum">Contact Number<span class="asterisk">*</span>:</label>
                                <input type="text" id="contactNum" formControlName="contactNumber"
                                    class="form-control" />
                                <div class="error-msg"
                                    *ngIf="addContactForm['controls'].contactNumber.invalid && (addContactForm['controls'].contactNumber.dirty || addContactForm['controls'].contactNumber.touched)">
                                    <div class="errormsg"
                                        *ngIf="addContactForm['controls'].contactNumber.errors.required">
                                        <small>This Field Is Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="username">Email ID<span class="asterisk">*</span>:</label>
                                <input type="text" formControlName="emailId" class="form-control" />
                                <div class="error-msg"
                                    *ngIf="addContactForm['controls'].emailId.invalid && (addContactForm['controls'].emailId.dirty || addContactForm['controls'].emailId.touched)">
                                    <div class="errormsg" *ngIf="addContactForm['controls'].emailId.errors.required">
                                        <small>This Field Is Required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="address">Address<span class="asterisk">*</span>:</label>
                                <textarea id="" cols="3" rows="3" type="text" id="address" formControlName="address"
                                    class="form-control"></textarea>
                                <div class="error-msg"
                                    *ngIf="addContactForm['controls'].address.invalid && (addContactForm['controls'].address.dirty || addContactForm['controls'].address.touched)">
                                    <div class="errormsg" *ngIf="addContactForm['controls'].address.errors.required">
                                        <small>This Field Is Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="username">Status:</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-slide-toggle formControlName="status" [(ngModel)]="statusToggle">
                                            {{statusToggle ? 'Active' : 'Inactive'}}</mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success" [disabled]="!addContactForm.valid">Add</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br><br>
        <div class="container d-flex justify-content-center">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Contact No.</th>
                        <th scope="col">Email ID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of ContactBookTbl; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{value.firstName}}</td>
                        <td>{{value.lastName}}</td>
                        <td>{{value.contactNumber}}</td>
                        <td>{{value.emailId}}</td>
                        <td>{{value.address}}</td>
                        <td>{{value.status ? 'Active' : 'Inactive'}}</td>
                        <td><button class="btn btn-success btn-sm" (click)="editContact(value.id)">Edit</button></td>
                        <td><button class="btn btn-danger btn-sm" (click)="deleteContact(value.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>